<article class="admin-link-hover-area discussion_entry can_be_marked_as_read {{read_state}}" data-mark-read-url="{{mark_read_url}}">
  <header data-event="fetchFullEntry">
    <div class="header_title">
    {{#if outOfContext}}
      from <a href="{{context_discussion_topic_url}}">entry.discussion_topic.title</a>
    {{else}}
      <a title="{{#t "authors_name"}}Author's name{{/t}}" href=":context_user_url" class="author">{{author.display_name}}</a>
    {{/if}}
    </div>
    <!--div class="admin-links">
      <button class="al-trigger"><span class="al-trigger-inner">Manage</span></button>
      <ul class="al-options">
        <li><a href="#"><span class="ui-icon ui-icon-pencil" />Edit</a></li>
        <li><a data-action=remove data-id="#{@model.get 'id'}" href="#"><span class="ui-icon ui-icon-trash" />Delete</a></li>
      </ul>
    </div-->
    <!-- TODO: use this as excuse to get a better way of doing time_ago_dates than what we do in instructure.js  -->
    {{friendlyDatetime posted_at pubdate=true}}

    {{#if checkIfAvatarsAreEnabled}}
      <a class="avatar"><img src="https://secure.gravatar.com/avatar/ce6929d4bdbf236246a7366399ca636f?s=50&amp;d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png"></a>
    {{/if}}
    {{#if collapsedView}}
      <p>{{summary}}</p>
      <span>{{replies.length}} replies</span>
    {{else}}
    <h1>{{author.display_name}}</h1>
    {{/if}}

    {{#if attachments}}
      <div class="comment_attachments">
        {{#each attachments}}
          <div><a href="{{url}}" class="{{mimeClass content-type}}" title="{{filename}}">{{display_name}}</a></div>
        {{/each}}
      </div>
    {{/if}}
  </header>
  {{#unless collapsedView}}
    <div class="message user_content">Tell us a little bit about yourself and your background. What attracted you to Instructure and what are your hopes going forward? Click on the tree image in the Rich Content Editor to upload an image or two of hobbies, pets, etc. If you are brave, click on the filmstrip button to leave a video comment using your webcam!</div>

    {{#if editor}}
      <div>This comment was edited by <a href="{{editor.url}}">{{editor.name}}</a></div>
    {{/if}}
  {{/unless}}
  <div data-bind="message">{{message}}</div>
</article>
