<header class="discussion-section admin-link-hover-area {{read_state}}" data-event="fetchFullEntry">
  <div class="read-state-indicator">
    {{read_state}}
  </div>
  {{#if author.avatar_image_url}}
    <a href="TODO:put url to author here" class="avatar"><img src="{{author.avatar_image_url}}"></a>
  {{/if}}
  <div>
    <h1>
      {{#if collapsedView}}
        {{summary}}
      {{else}}
        <a title="{{#t "authors_name"}}Author's name{{/t}}" href="TODO:put url to author here" class="author">{{author.display_name}}</a>
      {{/if}}
    </h1>
    {{#if collapsedView}}
      <h2>
        <a title="{{#t "authors_name"}}Author's name{{/t}}" href="TODO:put url to author here" class="author">{{author.display_name}}</a>
      </h2>
    {{/if}}
    {{#if outOfContext}}
      <h3>
        {{#t "from_context"}}from <a href="TODO: put url to context here">entry.discussion_topic.title</a>{{/t}}
      </h3>
    {{/if}}
  </div>
  {{#if collapsedView}}
    <div class="new-and-total-badge">
      <span class="tooltip new-items">
        <span class="tooltip_wrap">
          <span class="tooltip_text topic_unread_entries_tooltip">{{#t "unread_count_tooltip"}} {{unreadReplies}} unread replies{{/t}}</span>
        </span>
        <span class='topic_unread_entries_count'>{{#if unreadReplies}}{{unreadReplies}}{{/if}}</span>
      </span>
      <span class="tooltip total-items">
        <span class="tooltip_wrap">
          <span class="tooltip_text">
            {{#t "reply_count_tooltip"}} {{replies.length}} replies {{/t}}
          </span>
        </span>
        <span class='topic_reply_count'>{{#if replies.length}}{{replies.length}}{{/if}}</span>
      </span>
    </div>
  {{/if}}
  <div class="admin-links">
    <button class="al-trigger"><span class="al-trigger-inner">Manage</span></button>
    <ul class="al-options">
      <li><a href="#"><span class="ui-icon ui-icon-pencil" />Edit</a></li>
      <li><a data-action=remove data-id="{{id}}" href="#"><span class="ui-icon ui-icon-trash" />Delete</a></li>
    </ul>
  </div>
  <!-- TODO: use this as excuse to get a better way of doing time_ago_dates than what we do in instructure.js  -->
  {{friendlyDatetime updated_at pubdate=true}}
</header>
{{#unless collapsedViewASDFASDF}}
  <div class="discussion-section">
    <div data-bind="message" class="message user_content">{{message}}</div>
    {{#if editor}}
      <div>This comment was edited by <a href="{{editor.url}}">{{editor.name}}</a></div>
    {{/if}}
    {{#if attachments}}
      <div class="comment_attachments">
        {{#each attachments}}
          <div><a href="{{url}}" class="{{mimeClass content-type}}" title="{{filename}}">{{display_name}}</a></div>
        {{/each}}
      </div>
    {{/if}}
  </div>
  <form class="discussion-section">
    <label for="reply_message_for_{{id}}">{{#t "write_a_reply"}}Write a reply...{{/t}}</label><textarea style="display:none" id="reply_message_for_{{id}}"></textarea>
  </form>
{{/unless}}